.Menubar{
  
  border-radius: 10px;
  width:200px;
  margin:10px 0 0 0 ;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #e8fffe;  
  box-shadow: 0px 0px 3px#778a8e;
  position: sticky;
}

.Menubarmini{
  
  border-radius: 10px;
  width:50px;
  margin:10px 0 0 0 ;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #e8fffe;  
  box-shadow: 0px 0px 3px#778a8e;
  position: sticky;
  justify-content: center;
}


.Menu{
  border-radius: 10px;
  color: white;
  padding: 10px 0 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.Menumini{
  border-radius: 10px;
  color: white;
  padding: 10px 5px 10px 12px;
  display: flexbox;
  align-items: center;
  justify-content: center;
  
}
.Menu i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1em;
  width: 1em;
  font-size: 1.2em;
}

.Menumini i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1em;
  width: 1em;
  font-size: 1.2em;
}

.Selected{
background-color: #4167b2;
}

.Unselected{
  background-color: #b6b6b600;
  color: black;
}

.Unselected:hover{
  background-color: #838383;
  color: #ffffff;
}

.CourseLogout{
  background-color: #b5b5b5;
  color: #000000;
}

.CourseLogout:hover{
  background-color: #838383;
  color: #ffffff;
}