* {
  box-sizing : border-box;
  font-family: 'Sarabun', sans-serif;
}

body{
  margin:0;
  background: #f2f7ff;
  color:#1d2129;
}

.Navbar{
  color:#ffffff;
  padding: 10px 20px 10px 20px;
  background: #4167b2;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.webName{
  font-size: large;
}

.login-name{
padding-top: 0px;
}

.login-Profile{
  font-size: large;
  display: flex;
  gap: 5px;
  
}

.logout-icon {
  color: #b9b9b9;
  padding-top: 12px;
  padding-left: 10px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.logout-icon:hover {
  color: #ff0000; 
}

.MessageContainer{
    padding: 10px 5px;
}
.MessageNotice{
    display: flex;
    justify-content: center;
}
.MessageCancelled{
    background-color: #4e4e4e88;
    display: inline-block;
    padding: 5px;
    color: white;
    border-radius: 10px;
}
.MessageProfilePic{
  width: 30px;
  height: 30px;
  object-fit: cover;   
  object-position: center;
  border-radius: 60px;
}

.MessageProfileSection{
    display: flex;
    gap: 2px;
}

.MyMessageProfileSection{
    display: flex;
    justify-content: flex-end;
    gap: 2px;
}

.MessageProfileName{
    columns: rgb(0, 0, 0);
     display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 2px 2px 0 8px;
  font-size: large;
  font-weight: bold;
}

.profileHeader{
  display:flex;
  justify-content: space-between;
  background:linear-gradient(rgb(211, 255, 255), #bec3ff);
  margin: -15px;      
  padding: 10px 15px 10px 15px;  
  border-bottom:1px solid #dddfe2;
  border-radius:2px 2px 0 0;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px -2px 2px rgb(204, 204, 204);
}

.MessageArea{
 padding-left: 40px;
 display: flex;
 gap: 5px;
}

.MyMessageArea{
 padding-right: 35px;
 display: flex;
 justify-content: flex-end;
 gap: 5px;
}
.MessageBubble{
 display: inline-block;
 font-size: medium;
 background-color: #dadada;
 max-width: 300px;
 min-width: 0px;
 padding: 4px 6px;
 word-wrap: break-word;
 border-radius: 0 10px 10px 10px;
}

.MyMessageBubble{
 display: inline-block;
 font-size: medium;
 background-color: #4ceaff;
 max-width: 300px;
 min-width: 0px;
 padding: 4px 6px;
 word-wrap: break-word;
 border-radius: 10px 0px 10px 10px;
}
.MessageTimestamp{
    display: flex;
    align-items: flex-end;
    font-size: small;
}

.deleteButton{
  margin-top: 10px;
}
.Input, .Post{
  border: 1px solid hsl(216, 8% , 88%); 
  width:576px;
  margin:10px auto;
  background-color: #ffffff;
}

.Input{
border-radius: 4px;
}
.Post{
  border-radius: 20px;
}

.Menubar{
  
  border-radius: 10px;
  width:300px;
  margin:10px 0 0 0 ;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #e8fffe;  
  box-shadow: 0px 0px 3px#778a8e;
  position: sticky;
  top: 80px;
}

.Menu{
  border-radius: 10px;
  color: white;
  padding: 10px 0 10px 15px;
  
}

.Selected{
background-color: #4167b2;
}

.Unselected{
  background-color: #b6b6b600;
  color: black;
}

.Unselected:hover{
  background-color: #838383;
  color: #ffffff;
}

.CourseLogout{
  background-color: #b5b5b5;
  color: #000000;
}

.CourseLogout:hover{
  background-color: #838383;
  color: #ffffff;
}

.Input__header{
  background-color: #f5f6f7;
  border-bottom:1px solid #dddfe2;
  border-radius:10px 10px 0 0;
  margin: 0;
  padding: 15px ;
}

.Title__header{
  padding-top: 15px;
  height: 40px;
  font-size: medium;
  font-weight: 500;
  margin-left: 15px; 

  
}
.Message__field{
width: 100%;
height:40px;
font-size: medium;
background-color: #ffffff00;
border-radius: 10px;
border:1px solid rgba(80, 80, 80, 0);
display: flex;
padding: 5px 0px 2px 10px;
}

.MessageInput{
 width: 100%;
 border: none;
 border-radius:10px ;
}
.Input__fieldINF{
font-size: small;
width:100%;
height:100px;
padding: 15px;
background-color: #ffffff;
border:none;
}
.Input__field:focus{
  outline: none;
}

.Post{
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 25px;
}
.Post__image{
  width: 100%;
  margin-top: 0px;
}

.horizontal-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;          
  padding: 1rem;
}

.MessageInputBox{
  display: flex;
  align-items: flex-start;
  gap: 5px; 
  border-radius: 0 0 10px 10px;
  background:linear-gradient(rgb(211, 255, 255), #bec3ff);
 padding: 10px; 
 margin:0px -15px -10px -15px;

}

.Chatroom {
  display: flex;
  flex-direction: column;
  gap: 0px; 
  margin-top:10px ;
  padding: 10px 15px 10px 15px;      
  background-color: #e8fffe;  
  border-radius: 10px;
  box-shadow: 0px 0px 3px#778a8e;
  width: 625px;
}

.ChatroomHeader{
  display: flex;
  align-items: flex-start;
  height: 50px;
  gap: 10px; 
  border-radius: 10px 10px 0 0;
  background:linear-gradient(#bec3ff,rgb(211, 255, 255));
  margin: -10px -15px 0px -15px;
  padding: 15px;
  font-weight: 500;
  font-size: large;
  color: rgb(0, 0, 0);
}

.Chat-scroll {
  display: flex;
  flex-direction: column;
  gap: 5px; 
  margin-top:0px ;
  margin-bottom: 0px;
  margin-right: -15px;
  margin-left: -15px;
  padding: 0px 15px 0px 15px;  
  border-radius: 10px;
  overflow: auto;
  max-height: 390px; 
  
}

.vertical-container-post {
  display: flex;
  flex-direction: column;
  gap: 5px; 
}

.content {   
  display: flex;
  justify-content: center; 
}

.InputButton{
padding-top: 10px;
color: rgb(0, 0, 0);
}

.Input__buttonField{
  padding: 10px;
display: flex;
justify-content: flex-end;
}

.Post__profilePic{
  width: 50px;
  height: 50px;
  object-fit: cover;   
  object-position: center;
  border-radius: 60px;
}

.profileSection{
  display: flex;
  align-items: flex-start;
  gap: 5px;
  margin: -15px;      
  padding: 10px 15px 10px 15px;  
}

.postSection{
  display: flex;
  flex-direction: column;
  gap: 5px;  

}
.profileName{
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 2px 2px 0 8px;
  font-size: large;
  font-weight: bold;
}

.Post__title{
  font-size: x-large;
  font-weight: bold;
  padding-left: 10px;
}

.Post__info{
  font-size: medium;
  padding-left: 10px;
  white-space: pre-line;
}
.postDate{
  padding: 0 0 0 8px;
  font-size: small;
  color: #4e4e4e;
}

.roleTag{
  margin-top: 2px;
  padding: 2px 4px 2px 4px;
  color: #ffffff;
  font-size: small;
  border-radius: 2px;

}

.roleStu{
  background-color: rgb(0, 158, 0);
}

.roleTA{
  background-color: rgb(10, 0, 87);
}

.roleADMIN{
  background-color: rgb(163, 0, 46);
}