* {
  box-sizing : border-box;
  font-family: 'Sarabun', sans-serif;
}

body{
  margin:0;
  background: #f2f7ff;
  color:#1d2129;
}

.horizontal-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;          
  padding: 1rem;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  gap: 5px; 
  margin-top:10px ;
  padding: 10px 15px 10px 15px;      
  background-color: #e8fffe;  
  border-radius: 10px;
  box-shadow: 0px 0px 3px#778a8e;
}

.vertical-scroll {
  display: flex;
  flex-direction: column;
  gap: 5px; 
  margin-top:10px ;
  padding: 10px 15px 10px 15px;  
  margin: -10px -15px -10px -15px;     
  border-radius: 10px;
  overflow: auto;
  max-height: 500px;  
}

.content {   
  display: flex;
  justify-content: center; 
}
